# Node modules
node_modules/

# Environment variables
.env

# Build files
dist/
build/

# Logs & Debug files
*.log
npm-debug.log*

# Editor/IDE specific files
.vscode/
.idea/
.DS_Store

# Coverage reports
coverage/

# Temporary files
tmp/
.vercel
